.nd-section {
  position: relative; }

.nd-notes-button {
  transition: background .3s ease;
  color: #ffffff;
  background: #e48d00;
  border: none;
  padding: 0px;
  font-size: 2em;
  border-radius: 100px;
  line-height: 70px;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1); }
  .nd-notes-button:hover {
    transition: background .3s ease;
    background: #ffa718; }

.nd-notes-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  overflow-y: scroll; }
  .nd-notes-wrapper .container {
    position: relative; }
  .nd-notes-wrapper .input-group {
    padding: 16px;
    background: #efefef; }

.nd-notes-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ffffff;
  font-size: 2em;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50px;
  border: none;
  background: none; }

.nd-notes-email {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  margin-bottom: 5px; }
  .nd-notes-email:focus {
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2); }

.nd-notes-content {
  margin-top: 90px;
  height: 100%; }

.nd-notes-send {
  background: #6397bf;
  color: #ffffff; }
  .nd-notes-send:focus {
    color: #ffffff;
    background: #6397bf; }
  .nd-notes-send:hover {
    color: #ffffff;
    background: rgba(99, 151, 191, 0.7); }
  .nd-notes-send[disabled] {
    color: #000000; }

.nd-slide-wrap {
  text-align: center; }

.error {
  box-shadow: 0 0 1px red; }

.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

body {
  -webkit-text-size-adjust: 100%; }

@media screen and (max-width: 900px) {
  .nd-notes-button {
    right: 10px;
    bottom: 10px; } }
.nd-section.nd-section-text {
  background-size: cover !important; }
  .nd-section.nd-section-text .container {
    padding-top: 2em;
    padding-bottom: 2em; }

.add-notes-button {
  margin-top: 40px;
  padding: 8px 25px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  color: white; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 45px; }

h4 {
  font-size: 40px; }

h5 {
  font-size: 35px; }

h6 {
  font-size: 30px; }

p {
  font-size: 25px;
  line-height: 1.25em; }

.nd-section-video .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .nd-section-video .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.nd-section-slider {
  position: relative; }
  .nd-section-slider .lslide div {
    display: block;
    text-align: center; }
  .nd-section-slider a {
    display: inline-block; }
  .nd-section-slider img {
    max-width: 100%;
    max-height: 500px; }
  .nd-section-slider .lightSlider {
    margin-bottom: 0 !important; }

.nd-section-image a {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.nd-section-image .nd-image {
  display: block;
  text-align: center;
  max-width: 100%;
  max-height: 500px;
  margin: auto; }
