// Base Styling
button {
	outline: none;
}
.container {
	max-width: 100% !important;
}
.update-nag.nd-error {
	border-left: 4px solid red !important;
}
.nd-section {
	position: relative;
}
.nd-notes-button {
	transition: background .3s ease;
	color: #ffffff;
	background: rgb(228,141,0);
	border: none;
	padding: 0px;
	font-size: 2em;
	border-radius: 100px;
	line-height: 70px;
	height: 70px;
	width: 70px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.1);

	&:hover {
		transition: background .3s ease;
		background: lighten(rgb(228,141,0), 10);
	}
}
.nd-notes-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25px;
	background: rgba(0,0,0, .9);
	display: none;
	overflow-y: scroll; 

	.container {
		position: relative;
		max-width: 100% !important;
	}

	.input-group {
		padding: 16px;
		background: #efefef;
	}
}
.nd-notes-close {
	position: absolute;
	padding: 5px;
	top: 0;
	right: 10px;
	color: #ffffff;
	font-size: 2em;
	height: 60px;
	width: 60px;
	line-height: 0;
	border-radius: 50px;
	border: none;
	background: none;
}
.nd-notes-email {
	border:1px solid rgba(0,0,0,.2);
	border-radius: 0;
	margin-bottom: 5px;
	&:focus {
		box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
	}
}
.nd-notes-content {
	height: 100% !important;
	font-size: 18px;
	border-radius: 0;
	border: none !important;
	outline: none;
	padding: 16px 32px;
}
.nd-notes-send {
	background: rgb(99,151,191);
	color: #ffffff;
	&:focus {
		color: #ffffff;
		background: rgb(99,151,191);
	}
	&:hover{
		color: #ffffff;
		background: rgba(99,151,191, .7);
	}
	&[disabled] {
		color: #000000;
	}
}
.nd-notes-form {
	height: 70vh;
	margin-top: 60px;
}
.nd-slide-wrap {
	text-align: center;
}
.error {
	box-shadow: 0 0 1px red;
}
.no-scroll {
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
    -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 900px){
	.nd-notes-button{
		right: 10px;
		bottom: 10px;
	}
}
// Import partials
@import 'partials/text';
@import 'partials/video';
@import 'partials/slider';
@import 'partials/image';