.nd-section.nd-section-text {
	
	background-size: cover !important;

	.container {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.add-notes-button {
	margin-top: 40px;
	padding: 8px 25px;
	background: rgba(0,0,0,.5);
	border: none;
	border-radius: 30px;
	color: white;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 45px;
}
h4 {
	font-size: 40px;
}
h5 {
	font-size: 35px;
}
h6 {
	font-size: 30px;
}
p {
	font-size: 25px;
}