// Base Styling
.nd-section {
	position: relative;
}
.nd-notes-button {
	transition: background .3s ease;
	color: #ffffff;
	background: rgb(228,141,0);
	border: none;
	padding: 0px;
	font-size: 2em;
	border-radius: 100px;
	line-height: 70px;
	height: 70px;
	width: 70px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.1);

	&:hover {
		transition: background .3s ease;
		background: lighten(rgb(228,141,0), 10);
	}
}
.nd-notes-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25px;
	background: rgba(255,255,255, .9);
	display: none;
	overflow-y: scroll; 

	.container {
		position: relative;
	}

	.input-group {
		padding: 20px;
		background: #efefef;
	}
}
.nd-notes-close {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #ffffff;
	font-size: 2em;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50px;
	border: none;
	background: #000000;
}
.nd-notes-email {
	border:1px solid rgba(0,0,0,.2);
	border-radius: 0;
	margin-bottom: 5px;
	font-size: 30px;
	height: 100%;

	&:focus {
		box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
	}
}
.nd-notes-content {
	margin-top: 90px;
	border:none;
	box-shadow: none;
	border-radius: 0;
	height: 100%;
	font-size: 20px;
	&:focus {
		border: none;
		box-shadow: none;
	}
}
.nd-notes-send {
	background: rgb(99,151,191);
	color: #ffffff;
	margin-left: 10px !important;
	font-size: 28px;
	border-radius: 0;
	border: none;
	&:focus {
		color: #ffffff;
		background: rgb(99,151,191);
	}
	&:hover{
		color: #ffffff;
		background: rgba(99,151,191, .7);
	}
	&[disabled] {
		color: #000000;
	}
}
.error {
	box-shadow: 0 0 1px red;
}
.no-scroll {
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
    -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 900px){
	.nd-notes-button{
		right: 10px;
		bottom: 10px;
	}
}
// Import partials
@import 'partials/text';
@import 'partials/video';
@import 'partials/slider';
@import 'partials/image';